<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      <img src="assets/images/logo.png" class="logo" alt="">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-card-header>
      Camp Details
    </ion-card-header>

    <ion-card-content>
      Updae this form with the Details of your current camp so you have an easy reference for later.
    </ion-card-content>
  </ion-card>

  <ion-list lines="none">
    <ion-item>
      <ion-label position="stacked">
        Gate access code
      </ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">
        Ammenities Code
      </ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">
        Wifi Password
      </ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">
        Phone Number
      </ion-label>
      <ion-input type="text"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">
        Departure Date
      </ion-label>
      <ion-datetime displayFormat="DD/MM/YY"></ion-datetime>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">
        Notes
      </ion-label>
      <ion-textarea type="text"></ion-textarea>
    </ion-item>
  </ion-list>
</ion-content>